@import "~bulma/sass/utilities/mixins";
@import "~bulma/sass/utilities/initial-variables";

$size-4: 1.5rem !default

.navbar {
  background-color: #F7C836;
  font-size: $size-4;
  height: 7rem;
  text-transform: uppercase;

  .navbar-item {
    padding: 0.5rem 2rem;
  }
  .navbar-item:first-of-type {
    padding-left: 0.75rem;
  }

  .navbar-logo {
    width: 10rem;
  }

  .socnav {
    align-items: stretch;

    display: flex;

    &__link {
      //margin-top: -0.5rem;
      padding: 1rem .5rem;
      color: #fff;
      text-decoration: none;
      display: flex;
      align-items: center;
      opacity: .9;
      transition: opacity .25s ease;
      position: relative;

      img {
        margin-bottom: 0.5rem;

        //align-items: center;
      }

      &:hover {
        opacity: 1;
      }

      &-icon {
        width: auto;
        height: 2rem;
      }
    }
  }
}

.logo {
  position: absolute;
  width: 10rem;
  height: 10rem;

  top: 1.7rem;
  left: -6rem;

  img {
    max-height: 40rem;
  }

}

@media (max-width: 1600px) {
  html {
    //font-size: 14px;
  }
  .navbar {
    height: 7rem;

    .navbar-logo {
      width: 7rem;
    }

    .logo {
      width: 7rem;
      height: 7rem;
      top: 3.3rem;
      left: -1rem;
    }
  }
}

@media (max-width: $desktop) {
  .navbar {
    height: 2rem;

    .navbar-menu {
      position: absolute;
      width: 100%;
      z-index: 10000;
    }

    //.navbar-end {
    //  display: none;
    //}
    //.navbar-start {
    //  display: none;
    //}
    .logo {
      width: 2rem;
      height: 2rem;

      top: 0.5rem;
      left: 1rem;

      img {
        max-height: 40rem;
      }
    }
  }
}

@media (max-width: $desktop) {
  .navbar-burger {
    display: block;
  }
}

@media (min-width: $desktop) {
  .navbar-burger {
    display: none;
  }

  .navbar-brand {
    margin-left: 1rem;
  }

  .navbar-menu {
    margin-left: 1rem;
  }

  .sec-menu {
    position: absolute;

    top: 12.5rem;

    left: 1.5rem;

    .menu-label {
      font-size: larger;
      color: black;
    }

    .menu-label:not(:last-child) {
      margin: 0;
    }
    .menu-list a {
      padding: 0.1em 0;
    }
  }
}

html, body {
  height: 100%;
  //min-height: 100%;
}

footer {
  //position:absolute;
  //bottom:0;
  width:100%;
  height:130px;   /* Height of the footer */
  background:#6cf;
}

footer, .push {
  height:130px;
}

.page-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -130px;
}


.video-item {
  width: 60rem;
  height: 30rem;
  margin-bottom: 2rem;


  @media (max-width: $widescreen) {
    width: 50rem;
    height: 25rem;
  }
  @media (max-width: $desktop) {
    width: 25rem;
    height: 12.5rem;
    margin-bottom: 4rem;
  }
}

.portfolio-layout {
  margin-left: 8rem;
}

.behance-text {
  .bold {
    font-weight: $weight-bold;
  }
  .italic {
    font-style: italic;
  }
  .embed {
    padding-bottom: 20px;
  }
  .image {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.projects-list {
  .section {
    padding: 0 0 0.5rem 0;

    figure.image {
      margin: 0;
    }

    figcaption {
      text-align: left;
    }
  }
  img {
    margin-bottom: 0.25rem;
  }
}

.sec-menu {
  z-index: 1000;
}

